snippet vyos_interface
  interface:
    name: ${1:name}
    family: ${2:ethernet}
    address: ${3:address}
    description: ${4:lan}

snippet vyos_route_static
  route_static:
    route: ${1:route}
    next_hop: ${2:next_hop}
