snippet vyos_banner
	- name: ${1:task_description}
	  vyos_banner:
	    banner: ${2}
	    #text: ${3}
	    #state: ${4:present}
	    #provider: ${5}

snippet vyos_command
    dasd:
	  vyos_command:
	    commands: ${2}
	    #retries: ${3:10}
	    #interval: ${4:1}
	    #provider: ${5}
	    #wait_for: ${6}
	    #match: ${7:all}